@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  outline: none;
  text-decoration: none;
}

h1,
h2,
a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-family: Noto Sans;
}

body {
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

section {
  padding: 100px 0px;
}

section:nth-child(odd) {
  background: #191919;
}

section:nth-child(even) {
  background: #101010;
}

.stickyNav {
  background: #000;
  padding: 10px 0;
}

.container {
  width: 1000px;
  margin: auto;
}

.section_title {
  margin: 30px auto 50px auto;
  text-align: center;
  width: 550px;
  max-width: 100%;
}

.section_title h2 {
  font-size: 3rem;
  font-family: Noto Sans;
  margin-bottom: 10px;
}

.section_title p {
  color: #9597a2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav_content_container .nav_container_item {
  margin: 0 10px;
}

nav .nav_content_container .nav_logo_container {
  width: 70px;
}

nav .nav_content_container .nav_logo_container img {
  width: 100%;
}

nav .nav_content_container .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav_content_container .nav_links li {
  list-style: none;
  margin: 0 10px;
}

nav .nav_content_container .nav_links li:hover i {
  color: #f9004d;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

nav .nav_content_container .nav_links li a {
  color: #fff;
}

nav .nav_content_container .nav_links li i {
  color: #9597a2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .nav_content_container .nav_text_links li {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

nav .nav_content_container .nav_text_links li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f9004d;
  border-radius: 1px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav_content_container .nav_text_links li:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .nav_content_container .contact_button a button {
  color: #fff;
  padding: 8px 20px;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  border: 2px solid #9597a2;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
}

nav .nav_content_container .contact_button a button:hover {
  background: #f9004d;
  border-color: #f9004d;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

nav .bars {
  display: none;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url(../assets/headerBG.jpg);
  background-size: cover;
  background-position: center;
}

header .header_desc {
  width: 500px;
}

header .header_desc p {
  color: #9597a2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .header_desc h1 {
  font-size: 3rem;
}

header .header_desc h1 span {
  color: #f9004d;
}

.about_section .about_section_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about_section .about_section_content_wrapper .about_img {
  width: 350px;
}

.about_section .about_section_content_wrapper .about_img img {
  width: 100%;
  border-radius: 5px;
}

.about_section .about_section_content_wrapper .about_desc {
  width: 600px;
}

.about_section .about_section_content_wrapper .about_desc h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.about_section .about_section_content_wrapper .about_desc p {
  padding: 5px 0;
  color: #9597a2;
  letter-spacing: 0.5px;
}

.about_section .about_section_content_wrapper .about_desc .linked_button {
  margin-top: 20px;
}

.about_section .about_section_content_wrapper .about_desc .linked_button a button {
  background: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 2px solid #9597a2;
  border-radius: 5px;
  color: #9597a2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.about_section .about_section_content_wrapper .about_desc .linked_button a button:hover {
  background: #f9004d;
  border-color: #f9004d;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #fff;
}

.services_section {
  padding: 100px 0;
}

.services_section .service_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services_section .service_content_wrapper .single_service {
  width: 400px;
  margin: 5px;
  padding: 50px 40px;
  background: #191919;
  border-radius: 10px;
  cursor: pointer;
}

.services_section .service_content_wrapper .single_service:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f81f03), to(#f9004d));
  background: linear-gradient(to right, #f81f03, #f9004d);
}

.services_section .service_content_wrapper .single_service:hover .icon i {
  color: #fff;
}

.services_section .service_content_wrapper .single_service:hover p {
  color: #fff;
}

.services_section .service_content_wrapper .single_service .icon {
  margin-bottom: 20px;
}

.services_section .service_content_wrapper .single_service .icon i {
  font-size: 3rem;
  color: #f9004d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services_section .service_content_wrapper .single_service h2 {
  margin-bottom: 20px;
  font-weight: 100;
  font-family: Noto Sans;
}

.services_section .service_content_wrapper .single_service p {
  color: #9597a2;
  font-size: 1.1rem;
}

@-webkit-keyframes opacityZeroToHero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityZeroToHero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects_section .projects_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects_section .projects_wrapper .single_project {
  width: 400px;
  height: 500px;
  margin: 15px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.1, 0.04, 1.01) !important;
  transition: all 500ms cubic-bezier(0.25, 0.1, 0.04, 1.01) !important;
}

.projects_section .projects_wrapper .single_project:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9004fc9), to(#000000b2)) !important;
  background: linear-gradient(to bottom, #f9004fc9, #000000b2) !important;
  -webkit-animation: opacityZeroToHero 0.5s ease;
          animation: opacityZeroToHero 0.5s ease;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.projects_section .projects_wrapper .single_project .project_desc {
  text-align: center;
  padding: 0 50px;
}

.projects_section .projects_wrapper .single_project .project_desc p {
  margin-bottom: 20px;
  color: #9597a2;
}

.projects_section .projects_wrapper .single_project .project_desc h2 {
  margin-bottom: 30px;
  font-weight: 100;
}

.projects_section .projects_wrapper .single_project .project_desc .linked_button a {
  color: #fff;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 5px;
  border: 2px solid #9597a2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projects_section .projects_wrapper .single_project .project_desc .linked_button a:hover {
  background: #f9004d;
  border-color: #f9004d;
  -webkit-box-shadow: 0 0 5px #101010;
          box-shadow: 0 0 5px #101010;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.latest_news_section .latest_news_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest_news_section .latest_news_content_wrapper .single_news {
  width: 400px;
  height: 500px;
  margin: 15px;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.latest_news_section .latest_news_content_wrapper .single_news:hover .overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9004fdc), to(rgba(0, 0, 0, 0.836)));
  background: linear-gradient(to bottom, #f9004fdc, rgba(0, 0, 0, 0.836));
  -webkit-animation: opacityZeroToHero 0.5s ease;
          animation: opacityZeroToHero 0.5s ease;
}

.latest_news_section .latest_news_content_wrapper .single_news:hover .overlay .news_desc .news_button {
  display: block;
  -webkit-animation: bottomToTop 0.5s ease;
          animation: bottomToTop 0.5s ease;
}

@-webkit-keyframes bottomToTop {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottomToTop {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#000000f1));
  background: linear-gradient(to bottom, transparent, transparent, #000000f1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: stretch;
          flex-direction: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc {
  padding: 30px;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc p {
  color: #9597a2;
  margin-bottom: 10px;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc h2 {
  font-weight: 100;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc .news_button {
  display: none;
  margin-top: 20px;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc .news_button a {
  padding: 7px 20px;
  color: #fff;
  border: 2px solid #f9004d;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc .news_button a:hover {
  background: #f9004d;
  border-color: #f9004d;
  -webkit-box-shadow: 0 0 5px #101010;
          box-shadow: 0 0 5px #101010;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
  nav .nav_content_container .nav_text_links {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    margin: 0 0 0 0;
    background: #191919;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .nav_content_container .nav_text_links li {
    margin: 5px 0;
    padding: 10px 20px;
    width: 100%;
    border-bottom: 2px solid #101010;
  }
  nav .bars {
    display: block;
  }
  nav .bars div {
    width: 35px;
    height: 3px;
    margin: 5px 0;
    background: #f9004d;
    border-radius: 1px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .nav-active {
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  .about_section .about_section_content_wrapper .about_img {
    width: 350px;
  }
  .about_section .about_section_content_wrapper .about_desc {
    width: 320px;
  }
  .about_section .about_section_content_wrapper .about_desc p {
    text-align: justify;
  }
  .services_section .service_content_wrapper .single_service {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .section_title {
    width: 100%;
  }
  .section_title h2 {
    font-size: 2rem;
  }
  .container {
    width: 95%;
  }
  .contact_button {
    display: none !important;
  }
  nav {
    padding: 5px 0;
  }
  nav .nav_content_container .nav_container_item {
    margin: 0 0;
  }
  nav .nav_content_container .nav_logo_container {
    width: 50px;
  }
  header .header_desc {
    width: 100%;
  }
  header .header_desc h1 {
    font-size: 2rem;
  }
  .about_section .about_section_content_wrapper .about_img {
    width: 100%;
    max-width: 400px;
    margin: auto auto 20px auto;
  }
  .about_section .about_section_content_wrapper .about_desc {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .about_section .about_section_content_wrapper .about_desc p {
    text-align: left;
  }
  .services_section .service_content_wrapper .single_service {
    margin: 5px 0;
    width: 500px;
    max-width: 95%;
    padding: 50px 20px;
  }
  .projects_section .projects_wrapper .single_project {
    max-width: 95%;
    margin: 5px 0;
  }
  .projects_section .projects_wrapper .single_project .project_desc {
    padding: 0 15px;
  }
  .latest_news_section .latest_news_content_wrapper .single_news {
    max-width: 95%;
    margin: 5px 0;
  }
  .latest_news_section .latest_news_content_wrapper .single_news .overlay .news_desc {
    padding: 30px 10px;
  }
}
/*# sourceMappingURL=style.css.map */